.highlight-level-1 { 
    text-decoration: underline; 
    text-decoration-color: rgba(0, 216, 0, 0.8);
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
}

.highlight-level-2 { 
    text-decoration: underline; 
    text-decoration-color: rgba(255, 215, 0, 0.8);
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
}

.highlight-level-3 { 
    text-decoration: underline; 
    text-decoration-color: rgba(255, 149, 0, 0.8);
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
}

.highlight-level-4 { 
    text-decoration: underline; 
    text-decoration-color: rgba(255, 0, 0, 0.8);
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
}

.highlight-level-5 { 
    text-decoration: underline; 
    text-decoration-color: rgba(79, 135, 255, 0.8);
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
}